<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdou.mapper.SeckillOrderMapper">

    <resultMap id="BaseResultMap" type="com.gdou.pojo.entity.SeckillOrder">
            <id property="orderId" column="order_id" />
            <result property="seckillId" column="seckill_id" />
            <result property="userId" column="user_id" />
            <result property="goodsName" column="goods_name" />
            <result property="price" column="price" />
            <result property="state" column="state" />
            <result property="createTime" column="create_time" />
            <result property="payTime" column="pay_time" />
    </resultMap>

    <sql id="Base_Column_List">
        order_id,seckill_id,user_id,goods_name,price,state,
        create_time,pay_time
    </sql>
</mapper>
