<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdou.mapper.SeckillUserMapper">

    <resultMap id="BaseResultMap" type="com.gdou.pojo.entity.SeckillUser">
            <id property="id" column="id" />
            <result property="phone" column="phone" />
            <result property="nickname" column="nickname" />
            <result property="password" column="password" />
            <result property="avatar" column="avatar" />
            <result property="registerTime" column="register_time" />
            <result property="lastLoginTime" column="last_login_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,phone,nickname,password,avatar,
        register_time,last_login_time
    </sql>
</mapper>
